<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div class="container text-center">

<h1>Some words about this try</h1>
As you can see, it's a just password generator, my first experience in creating of site using Django framework. <br></br>
I was glad to write logic of generator on my own after I knew how to get information from requests, <br></br>
also no 'abcde..' strings, import string and using of ascii, digits and punctuation for lists of chars. <br></br>
TY, codewars I believe. 
<br></br>
</div>

{% load static %} <img src="{% static "generator/media/nyashka.jpg" %}" alt="segodnya bez nyashki" /> <br></br>
<div class="container text-center">
<a href="{% url 'homepage' %}" class="btn btn-success"> Back to homepage</a>
</div>